<ul>
    <% @english_word.russian_words.order(:part_of_speech, :entry).inject(0) do |previous_part_of_speech, russian_word| %>
      <% unless previous_part_of_speech == russian_word.part_of_speech %>
        <li class="part_of_speech"><%= russian_word.part_of_speech %></li>
        <div class="clearfix"></div>
      <% end %>
      <li><%= russian_word.entry %></li>
      <% russian_word.part_of_speech %>
    <% end %>
</ul>

  <%= link_to 'Edit', edit_word_path(id: @english_word.id), class: "edit" %><br />
  <%= link_to 'Destroy', { :action => 'destroy', :id => @english_word.id }, data: { confirm: 'Are you sure?' }, :remote => true, class: "destroy" %>
