<div class="fields">
	<%= f.input :entry, :label => 'Russian Word' %>
	<%= f.input :part_of_speech, :collection => RussianWord::PART_OF_SPEECH, :include_blank => false %>

	<%= link_to_remove_fields "remove", f %>
</div>
